#mainheading{
    font-size: 4em;
    width: auto;
    align-items: center;
    text-align: center;
   
  
}

#submain{
    font-size: 3em;
    text-align: center;
    animation: left 5s;
}
#mainsub{
    text-align: center;
    display: none;
    animation: down 2s;
}
#sudheading{
    text-align: center;
    display: none;
    animation: right 3s;
}
#sudheading button{
    border-radius: 20px;
    background-color: aqua;
    font-size: 40px;
    margin: 50px;
}
#sudheading button:hover{
    background-color: rgb(26, 172, 172);
}

#game{
    text-align: center;
    display: none;
    animation: go 2s;
}
#game button{
    background-color: rgb(79, 79, 219);
    border-radius: 15px;
    font-size: 30px;
    margin: 20px;
}
#game input{
    border-radius: 5px;

}
#gameh{
    display:none;
    opacity: 1;
    animation: opa 2s;
}
#re{
    display: none;
    opacity: 1;
    animation: opa 2s;
}
#submain button{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: hsl(113, 100%, 55%);
}
#submain button:hover{
    background-color: hsl(113, 57%, 50%);
    width: 99px;
    height: 51px;
}
#anime{
    display: flex;
    font-size: 0.75em;
    margin-left: 20px;
    width: 60vh;
    height: 60vh;

}
#a{
    animation: up 2.5s;
}
#b{
  animation: down 2.4s;
}
#c{
    animation: up 2.3s;
}
#d{
    animation: down 2.2s;
}
#e{
    animation: up 2.1s;
}

#f{
    animation: down 2s;
}


#g{
    animation: up 1.9s;
}
#h{
    animation: down 1.8s;
}
#i{
    animation: up 1.7s;
}
#j{
    animation: down 1.6s;
}
#k{
    animation: up 1.5s;
}
#l{
    animation: down 1.4s;
}
#m{
    animation: up 1.3s;
}
#n{
    animation: down 1.2s;
}
#o{
    animation: up 1.1s;
}
#p{
    animation: down 1s;
}
#q{
    animation: up .9s;
} 
#r{
    animation: down .8s;    
}
#s{
    animation: up .7s;
}
#t{
    animation: down .6s;
}
#u{
    animation: up .5s;
}
#v{
    animation: down .4s;
}
#w{
    animation: up .3s;
}
#v{
    animation: down .2s;
}

#inv{
    color: hsl(0, 0%, 100%);
}
@keyframes up{
  from  {transform:translateY(100%) ;
opacity: 0;}
  
}
@keyframes right{
    0%{transform:translateX(100%) ;}
}
@keyframes left{
    from{transform: translateX(-100%);}
}
@keyframes opa {
    from{opacity: 0;}
    
    
}
@keyframes down{
    0% {opacity: 0;
        transform: translateY(-100%);
    }
    100% {opacity: 1;
        transform: translateY(0);
    }
  }

